h1{
    font-family: I7;
    font-weight: 700;
    color: white;
    font-size: 80px;
    margin-top: 100px;
    @include media(500){
        font-size: 48px;
        // padding-top: 200px;
    }
}
.al{
    top: -200px !important;
    
}
.header{
    margin-bottom: 0;
    &-text{
        position: relative;
        overflow-x: clip;
        margin-bottom: 60px;
        // @include media (1100){
        //     margin-left: 15px;
        // }
        span{
        color: #80808080;
        font-family: I4;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: -0.456px;
        @include media(500){
            font-size: 16px;
        }
        }
    }
    &-line{
        background: rgba(255, 255, 255, 0.10);
        width: 100vw;
        height: 1px;
        &.sec{
            margin-top: 40px;
        }
    }
}
.main{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    @include media(920){
        flex-direction: column-reverse;
    }
    h2{
        color: #80808078;
        font-family: I6;
        font-size: 16px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    &-text{
        margin-bottom: 32px;
        p{
            color: #808080;    
        }
        &-highlight{
            color: white;
        }
        a{
            color: white;
            text-decoration: underline;
        }
        &-holder-div{
            display: none;
            width: 100%;
            height: 60px;
            border-radius: 9px;
            box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.02) inset;
            background: var(--basic-onyx, #181818);
            justify-content: center;
            align-items: center;
            @include media (920){
                display: flex;
            }
            a{
                color: white;
            }
        }
    }
    &-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        @include media (920){
            align-items: start;
            margin-bottom: 65px;
        }
        // justify-content: center;
        img{
            border-radius: 10.95px;
            border: 0.912px solid #323232;
            background: var(--dark-main-bg, #0D0D0D);
            width: 400px;
            @include media (450){
                width: 300px;
            }
            @include media (350){
                width: 200px;
            }
        }
        a{
            @include media(920){
                display: none;
            }
            border-radius: 9px;
            background: var(--gradient-dark-gradient, linear-gradient(180deg, #1A1A1A 0%, #131313 100%));
            box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.02) inset;
            padding: 16px 32px;
            color: white;
            display: flex;
            align-items: center;
            gap: 9px;
            img{
                background: none;
                border: none;
                width: 24px;
            }
        }
    }
}