.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 16px;
    border-radius: 12px;
    background: rgba(24, 24, 29, 0.30);
    backdrop-filter: blur(2px);
    align-items: center;
    ul{
        display: flex;
        align-items: center;    
        gap: 40px;
        // color: #C5C5C5;
        font-family: I5;
        font-weight: 500;
        font-size: 16px;
        a{

            color: #C5C5C5 !important;
            // &:first-child::before{
            //     transform:translateX(-101%);
            // }
        }
        img{
            width: 40px !important;
            background: none !important;
        }
        li{
            
            position: relative;
            overflow: hidden;
            padding: 5px 0;
        }
        a::before{
            content: "";
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height:2px;
            background:#fff;
            transform:translateX(-101%);
            transition:all 0.6s;
        }
        :hover::before{
            transform: translateX(0);
            
        }
    }
    &-item{
        display: flex;
        flex-direction: row;
        &-links{
            display: flex;
            gap: 24px;
            // padding-right: 24px;
            // border-right: 2px solid rgba(255, 255, 255, 0.25);
            &-theme{
                padding-left: 24px; 
            }
        }
    }
    &1{
        @include media (780){
            display: none;
        }
    }
}
.router-link-active::before{
    transform: translateX(0) !important;
}
.nill::before{
    transform:translateX(-101%) !important;
    
}